
h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.tile-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width:400px;
}

.cell {
  display: flex;
  background-color: rgb(232,232,232);
  width: 80px;
  aspect-ratio: 1 / 1;  
}

.layer-back {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.layer-mid {
  position: relative;
  top: 5%; left: 16px;
  z-index: 2;
  width: 70%;
  height: 66%;
}

.layer-front {
  position:relative;
  top:50%; right: 7%;
  z-index: 2;
  width: 34%;
  height: 40%;
}

.matched {
  display: none;
}


.color-1 {
  background-color: blueviolet;
}

.color-2 {
  background-color: antiquewhite;
}

.color-3 {
  background-color: firebrick;
}

.color-4 {
  background-color: olive;
}

.color-5 {
  background-color: peru;
}

.color-6 {
  background-color: green;
}

.color-7 {
  background-color: cornflowerblue;
   }

.color-8 {
  background-color: burlywood;
}

.color-9 {
  background-color: coral;
}

button {
  text-align: center;
  background-color: #000;
  border: none;
  margin: 0 10px 30px;
  padding: 6px 50px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

